:root {
  --content-width: 1200px;
  --theme-color: rgb(30, 144, 255);
  --white: #ffffff;
  --black: #333;
  --red: red;
  --head_font_color: white;
  --head_bg_color: rgba(0, 0, 0, 0);
}
@keyframes circle-rotate-in {
  0% {
    opacity: 0;
    transform: rotate(-90deg);
  }

  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}
@keyframes bg-become-big {
  0% {
    transform: scale(1);
  }

  99% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

#app {
  min-height: 200vh;
}
.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  color: var(--head_font_color);
  background: var(--head_bg_color);
  transition: all 0.2s linear;
  z-index: 3;
}
.header-fixed {
  box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
}

.header-inner {
  width: var(--content-width);
  height: 100%;
  margin: auto;
}
.logo {
  /* width: 370px; */
  height: 48px;
  position: relative;
}
.icon-img {
  width: 34px;
  height: 34px;
  margin-right: 13px;
  object-fit: contain;
}
.logo-img {
  width: 100px;
  height: 32px;
  margin-right: 20px;
}
.logo-name {
  height: 32px;
  padding-left: 12px;
  margin-top: -6px;
}
.logo-name::after {
  content: "";
  position: absolute;
  left: 120px;
  top: 50%;
  width: 1px;
  height: 30px;
  background: var(--head_font_color);
  transform: translateY(-50%);
}
.cn-name {
  font-size: 14px;
  font-weight: 600;
}
.en-name {
  text-indent: -28px;
}

.common-item {
  width: 65px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  margin-left: 36px;
  position: relative;
}

.common-item::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 0;
  height: 1px;
  background: var(--head_font_color);
  transition: width 0.2s linear;
}

.common-item:hover {
  font-weight: 600;
}

.common-item:hover:after {
  width: 90%;
}

.banner {
  width: 100%;
  height: 740px;
  position: relative;
  overflow: hidden;
}
.modal-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 87, 190, 0.4);
  z-index: 1;
}
.banner-img {
  position: relative;
  z-index: 0;
  animation: bg-become-big 10s linear 0.1s infinite normal both;
  z-index: 0;
}
.banner .banner-text {
  position: absolute;
  width: var(--content-width);
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-size: 60px;
  color: var(--white);
  z-index: 2;
}
.banner-title {
  /* margin-bottom: 40px; */
  height: 84px;
  line-height: 84px;
}
.banner-font {
  height: 53px;
  line-height: 53px;
  font-size: 38px;
  margin: 6px 0 8px 0;
}

.banner-desc-text {
  font-size: 19px;
  height: 26px;
  line-height: 26px;
  margin-bottom: 30px;
}

.banner-video {
  /* display: none; */
  width: 188px;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0);
  color: var(--white);
  box-shadow: 3px 5px 13px 0px rgba(0, 72, 158, 0.6);
  border: none;
}

.company {
  margin-top: 15px;
}
.card-icon {
  width: 35px;
  object-fit: contain;
  margin-right: 11px;
}
.en-company {
  height: 65px;
  line-height: 65px;
  font-size: 30px;
  font-weight: 700;
  color: #333;
  position: relative;
}
.en-company::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 80%;
  height: 2px;
  background: var(--theme-color);
}
.next-title {
  font-size: 22px;
  height: 22px;
  line-height: 22px;
  margin: 13px auto;
  font-weight: 600;
  color: #333;
  margin-bottom: 15px;
}

.desc-font {
  width: 1040px;
  font-size: 16px;
  margin: auto;
  line-height: 45px;
  font-size: #777;
  margin-bottom: 40px;
}

.card-text {
  width: var(--content-width);
  margin: auto;
  padding-bottom: 24px;
}

.card-title-text {
  height: 46px;
  font-size: 40px;
  line-height: 46px;
  font-weight: 700;
  margin-bottom: 20px;
}

.card-desc-text {
  font-size: 16px;
  color: #666;
  margin-bottom: 55px;
}

.num-title {
  height: 74px;
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
}

.num-title > span {
  font-size: 74px;
  color: var(--theme-color);
  margin-right: 5px;
}

.num-desc {
  font-size: 18px;
  color: #333;
}
.margin-num {
  margin-right: 120px;
}

.echarts {
  width: 100%;
  height: 760px;
  background: #00162c;
  position: relative;
  margin-top: 40px;
}
.chart {
  height: 760px;
}
.chart-text {
  position: absolute;
  width: var(--content-width);
  left: 50%;
  transform: translateX(-50%);
  top: 130px;
}
.chart-font {
  font-size: 55px;
  font-weight: 800;
  color: white;
  margin-bottom: 40px;
}
.search-button {
  width: 180px;
  height: 60px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 600;
  line-height: 60px;
  border: solid 1px white;
  color: white;
}

.vip-serve {
  width: 100%;
  padding: 70px 0 0 0;
  background: rgba(251, 251, 251, 1);
}
.vip-title {
  width: 100%;
  height: 45px;
  font-size: 32px;
  font-weight: 600;
  color: var(--theme-color);
  line-height: 45px;
  /* margin-bottom: 18px; */
}
.vip-title-h1 {
  width: 100%;
  height: 75px;
  font-size: 54px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #333333;
  line-height: 75px;
  margin-bottom: 10px;
}
.vip-desc-text {
  width: 474px;
  height: 44px;
  font-size: 16px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #777777;
  line-height: 22px;
  /* margin-bottom: 121px; */
}

.vip-more-box {
  /* width: 1000px; */
  height: 500px;
  /* height: 700px; */
  margin: 0 auto 100px auto;
}

.app-list {
  width: var(--content-width);
  margin: auto;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 87px;
}
.app-item-row {
  flex: 1;
  height: 437px;
  position: relative;
  overflow: hidden;
}
.app-item-row .num {
  width: 77px;
  height: 93px;
  margin-bottom: 14px;
}
.app-item-row .num-text {
  height: 33px;
  font-size: 24px;
  color: #ffffff;
  line-height: 33px;
}
.app-item-row .modal-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}
.app-item-row .modal-hover .modal-bg {
  position: absolute;
  opacity: 0;
  top: 210px;
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  padding: 44px 0 0 32px;
}
.app-item-row .modal-hover .modal-text-margin {
  margin-bottom: 51px;
}
.app-item-row .modal-hover .text-desc {
  width: 224px;
  height: 120px;
  font-size: 16px;
  color: #ffffff;
  line-height: 30px;
}
.app-item-row .filter {
  filter: blur(0);
  transition: all 0.3s;
}
.app-item-row:hover .filter {
  filter: blur(4px);
}
.app-item-row:hover .filter .img-desc {
  display: none;
}
.app-item-row:hover .modal-hover {
  background: rgba(0, 75, 255, 0.5);
}
.app-item-row:hover .modal-bg {
  top: 0;
  opacity: 1;
}
.app-item-row .message {
  height: 100%;
}
.app-item-row .app-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.app-item-row .img-desc {
  position: absolute;
  left: 32px;
  bottom: 59px;
  z-index: 2;
}

.solution {
  /* background: #f7f8f9; */
  background: white;
  margin-top: 0;
  padding: 18px 0 70px 0;
}

.banner-swiper {
  width: var(--content-width);
  margin: auto;
  /* height: 500px; */
  background: white;
  box-shadow: 0px 2px 50px rgba(0, 111, 243, 0.2);
  border-radius: 8px;
}
.swiper-nav {
  width: 200px;
  height: 100%;
  border-right: solid 1px #f5f5f5;
  border-radius: 8px 0 0 8px;
  overflow: hidden;
}
.swiper-item {
  width: 100%;
  height: 105px;
  position: relative;
  overflow: hidden;
}
.transition-opacity-bg {
  position: absolute;
  height: 105px;
  width: 211px;
  opacity: 0;
  z-index: 1;
  background-image: linear-gradient(270deg, #00cfd6, #0277fe);
  transition: all 0.2s;
}

.transition-opacity-bg.active {
  opacity: 1;
}
.nav-item-animation-circle {
  z-index: 11;
  position: absolute;
  right: 147px;
  bottom: 49px;
  width: 152px;
  height: 152px;
  background: url(https://cyc-save.oss-cn-shanghai.aliyuncs.com/bike/imgs/nav-icon.png)
    no-repeat 0 0 / cover;
  -webkit-animation: circle-rotate-in 1s cubic-bezier(0, 0, 0, 1) 0.1s 1 normal
    both;
  animation: circle-rotate-in 1s cubic-bezier(0, 0, 0, 1) 0.1s 1 normal both;
}
.swiper-font {
  width: 100%;
  color: #333;
  font-size: 22px;
  position: relative;
  z-index: 2;
  padding: 0 16px;
}
.swiper-font.active {
  color: white;
}
.swiper-item:hover .transition-opacity-bg {
  opacity: 1;
}
.swiper-item:hover .swiper-font {
  color: white;
}

.swiper-body {
  /* width: 470px; */
  flex: 1;
  max-width: 670px;
  padding: 63px 0 0 86px;
  position: relative;
  box-sizing: border-box;
}
.swiper-width {
  max-width: 539px;
}
.swiper-title {
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  color: #333;
  line-height: 40px;
  letter-spacing: 3px;
  margin-bottom: 23px;
}
.swiper-text {
  font-size: 16px;
  text-align: left;
  color: #464b60;
  line-height: 30px;
  margin-top: 18px;
}
.swiper-more {
  position: absolute;
  bottom: 80px;
  left: 86px;
  font-size: 14px;
  color: var(--theme-color);
}
.swiper-img {
  /* width: 347px; */
  height: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(105%, -50%);
  background: rgba(220, 220, 220, 0.5);
  border-radius: 4px;
  overflow: hidden;
}
.swiper-img img {
  transition: all 0.7s linear;
  transform: scale(1.1);
}

.yj-pt {
  width: 100%;
}
.yj-title {
  width: 100%;
  height: 56px;
  font-size: 40px;
  font-weight: 600;
  color: #333333;
  line-height: 56px;
  margin-bottom: 35px;
}
.yj-desc-text {
  width: var(--content-width);
  font-size: 20px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #777777;
  line-height: 45px;
  margin-bottom: 90px;
}
.yj-img {
  display: block;
  width: 200px;
  margin: 0 auto 27px auto;
}
.yj-china {
  width: 100%;
  height: 84px;
  font-size: 60px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: var(--theme-color);
  line-height: 84px;
  margin-bottom: 23px;
}
.line {
  width: 147px;
  height: 1px;
  background: var(--theme-color);
  margin: 0 auto 27px auto;
}

.img-price {
  width: 51px;
  height: 64px;
  margin: auto;
}

.price-text {
  width: 100%;
  height: 42px;
  font-size: 30px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #333333;
  line-height: 42px;
  margin: 17px auto 23px auto;
}

.text-img {
  width: 678px;
  height: 372px;
  margin: auto;
  margin-bottom: 30px;
}
.production {
  width: 162px;
  height: 54px;
  line-height: 54px;
  background: var(--theme-color);
  color: white;
  border-radius: 27px;
  margin: auto;
}
/* 底部 */
/* 底部 */
/* 底部 */
.box11 {
  z-index: 5;
  height: 484px;
  background-color: rgba(0, 0, 0, 1);
  margin-top: 54px;
  width: 100%;
  position: relative;
  padding: 75px 0 0 0;
}

.wrap2 {
  width: var(--content-width);
  height: 333px;
}

.group7 {
  width: 301px;
  /* height: 333px; */
}

.mod2 {
  width: 163px;
  height: 163px;
  background: url(https://cyc-save.oss-cn-shanghai.aliyuncs.com/bike/imgs/code.png)
    0px 0px no-repeat;
}

.word21 {
  width: 183px;
  height: 38px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(0, 111, 243, 1);
  font-size: 27px;
  font-family: PingFangSC-Medium;
  white-space: nowrap;
  line-height: 38px;
  text-align: left;
  margin: 15px 0 0 2px;
}

.paragraph1 {
  width: 299px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(195, 194, 195, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  line-height: 24px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 15px 0 0 2px;
}

.group8 {
  width: 80px;
  height: 167px;
  margin: 1px 0 0 239px;
}

.word22 {
  width: 80px;
  height: 28px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-family: PingFangSC-Medium;
  white-space: nowrap;
  line-height: 28px;
  text-align: left;
}

.infoBox1 {
  width: 64px;
  height: 132px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(195, 194, 195, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  line-height: 33px;
  text-align: left;
  margin-top: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.group9 {
  width: 144px;
  height: 200px;
  margin: 1px 0 0 81px;
}

.info12 {
  width: 80px;
  height: 28px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-family: PingFangSC-Medium;
  white-space: nowrap;
  line-height: 28px;
  text-align: left;
}

.paragraph2 {
  width: 144px;
  height: 165px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(195, 194, 195, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  line-height: 33px;
  text-align: left;
  margin-top: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.group10 {
  width: 128px;
  height: 266px;
  margin: 1px 0 0 35px;
}

.txt16 {
  width: 80px;
  height: 28px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-family: PingFangSC-Medium;
  white-space: nowrap;
  line-height: 28px;
  text-align: left;
}

.paragraph3 {
  width: 128px;
  height: 231px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(195, 194, 195, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  line-height: 33px;
  text-align: left;
  margin-top: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.group11 {
  width: 80px;
  height: 134px;
  margin: 1px 0 0 62px;
}

.txt17 {
  width: 80px;
  height: 28px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-family: PingFangSC-Medium;
  white-space: nowrap;
  line-height: 28px;
  text-align: left;
}

.paragraph4 {
  width: 64px;
  height: 99px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(195, 194, 195, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  line-height: 33px;
  text-align: left;
  margin-top: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.word23 {
  z-index: 145;
  /* position: absolute; */
  /* left: 392px; */
  /* top: 260px; */
  margin-top: 22px;
  width: 80px;
  height: 28px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-family: PingFangSC-Medium;
  white-space: nowrap;
  line-height: 28px;
  text-align: left;
}

.swiper-resolve {
  width: 100%;
}

.swiper-inner {
  width: var(--content-width);
  margin: auto;
  /* border-top: solid 1px #e5e5e5; */
}
.swiper-head-r {
  width: 100%;
  height: 72px;
  margin-bottom: 32px;
}
.swiper-head-item {
  padding: 20px;
  margin-right: 53px;
  font-size: 20px;
  color: #333;
  transition: all 0.3s linear;
}
.swiper-head-item.active {
  background: var(--theme-color);
  color: white;
}

.swiper-head-item:last-child {
  margin-right: 0;
}

.swiper-body-r {
  width: var(--content-width);
  margin: auto;
}
.left-text {
  width: 50%;
  line-height: 28px;
  text-align: justify;
  font-size: 18px;
}
.right-img {
  width: calc(50% - 50px);
  max-height: 230px;
}

video {
  width: 100%;
}

.banner .swiper1 {
  display: none;
  width: 100%;
  font-size: 0;
  height: 100vh;
  width: 100%;
  background-color: #f2f2f2;
  -webkit-transition: 1s background-color 1.3s;
  -moz-transition: 1s background-color 1.3s;
  transition: 1s background-color 1.3s;
}

@media only all and (max-width: 768px) {
  .banner .swiper1 {
    height: auto;
  }
}

.banner .swiper1 .swiper-wrapper {
  -webkit-transition-delay: 1s;
  -moz-ransition-delay: 1s;
  transition-delay: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
  -moz-transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
  transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
}

.banner .swiper1 .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.banner .swiper1 .swiper-wrapper .swiper-slide .pc {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: scale(0.95, 0.95);
  -moz-transform: scale(0.95, 0.95);
  transform: scale(0.95, 0.95);
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: transform;
  -moz-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
  -moz-transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
  transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
  opacity: 0.9;
  overflow: hidden;
}

@media only all and (max-width: 768px) {
  .banner .swiper1 .swiper-wrapper .swiper-slide .pc {
    display: none;
  }
}

.banner .swiper1 .swiper-wrapper .swiper-slide .pc img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1, 1.1) translateX(50%);
  -webkit-transform: scale(1.1, 1.1) translateX(50%);
  -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
  transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
  -webkit-transition-property: transform;
  transition-property: transform;
}

.banner .swiper1 .swiper-wrapper .swiper-slide .phone {
  width: 100%;
  display: none;
}

@media only all and (max-width: 768px) {
  .banner .swiper1 .swiper-wrapper .swiper-slide .phone {
    display: block;
  }
}

.banner .swiper1 .swiper-wrapper .swiper-slide .phone img {
  width: 100%;
}

.banner .swiper1 .swiper-wrapper .swiper-slide .info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 18.7%;
  text-align: left;
}

@media only all and (max-width: 768px) {
  .banner .swiper1 .swiper-wrapper .swiper-slide .info {
    left: 5%;
  }
}

.banner .swiper1 .swiper-wrapper .swiper-slide .info .one {
  font-size: 40px;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 30px;
}

@media only all and (max-width: 1440px) {
  .banner .swiper1 .swiper-wrapper .swiper-slide .info .one {
    font-size: 30px;
  }
}

@media only all and (max-width: 1024px) {
  .banner .swiper1 .swiper-wrapper .swiper-slide .info .one {
    font-size: 20px;
  }
}

@media only all and (max-width: 414px) {
  .banner .swiper1 .swiper-wrapper .swiper-slide .info .one {
    margin-bottom: 15px;
  }
}

.banner .swiper1 .swiper-wrapper .swiper-slide .info .one sup {
  font-size: 22px;
}

@media only all and (max-width: 1440px) {
  .banner .swiper1 .swiper-wrapper .swiper-slide .info .one sup {
    font-size: 16px;
  }
}

@media only all and (max-width: 1024px) {
  .banner .swiper1 .swiper-wrapper .swiper-slide .info .one sup {
    font-size: 12px;
  }
}

.banner .swiper1 .swiper-wrapper .swiper-slide .info .two {
  color: #fff;
  font-size: 60px;
  line-height: 1;
  margin-top: 2px;
  margin-bottom: 30px;
  font-weight: bold;
}

@media only all and (max-width: 1440px) {
  .banner .swiper1 .swiper-wrapper .swiper-slide .info .two {
    font-size: 46px;
  }
}

@media only all and (max-width: 1024px) {
  .banner .swiper1 .swiper-wrapper .swiper-slide .info .two {
    font-size: 30px;
  }
}

@media only all and (max-width: 414px) {
  .banner .swiper1 .swiper-wrapper .swiper-slide .info .two {
    margin-bottom: 15px;
  }
}

.banner .swiper1 .swiper-wrapper .swiper-slide .info .three {
  font-size: 24px;
  line-height: 1;
  color: #fff;
}

@media only all and (max-width: 1440px) {
  .banner .swiper1 .swiper-wrapper .swiper-slide .info .three {
    font-size: 18px;
  }
}

@media only all and (max-width: 1024px) {
  .banner .swiper1 .swiper-wrapper .swiper-slide .info .three {
    font-size: 14px;
  }
}

.banner .swiper1 .swiper-wrapper .swiper-slide .info .more-btn {
  width: 148px;
  height: 38px;
  line-height: 38px;
  border: 1px solid #fff;
  display: inline-block;
  margin-top: 30px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  overflow: hidden;
}

@media only all and (max-width: 414px) {
  .banner .swiper1 .swiper-wrapper .swiper-slide .info .more-btn {
    margin-top: 15px;
  }
}

.banner .swiper1 .swiper-wrapper .swiper-slide .info .more-btn span {
  margin-left: 35px;
}

.content
  .banner
  .swiper1
  .swiper-wrapper
  .swiper-slide
  .info
  .more-btn
  .btn_bg {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 0;
  color: #fff;
  text-align: center;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: #0976c2;
  left: -100%;
  z-index: -1;
}

.banner .swiper1 .swiper-wrapper .swiper-slide .info .more-btn:hover {
  border-color: #0976c2;
}

.content
  .banner
  .swiper1
  .swiper-wrapper
  .swiper-slide
  .info
  .more-btn:hover
  .btn_bg {
  left: 0;
}

.banner .swiper1 .swiper-button-next1 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  right: 10px;
  width: 60px;
  height: 60px;
  background-image: url("http://www.inlaylink.com/cn/wp-content/themes/manro/img/index/right_slider.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 5;
  background-size: 21px 48px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
}

@media only all and (max-width: 768px) {
  .banner .swiper1 .swiper-button-next1 {
    display: none;
  }
}

.banner .swiper1 .swiper-button-next1.swiper-button-disabled {
  cursor: Auto;
  display: none;
}

.banner .swiper1 .swiper-button-prev1 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 10px;
  width: 60px;
  height: 60px;
  background-image: url("http://www.inlaylink.com/cn/wp-content/themes/manro/img/index/left_slider.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 5;
  background-size: 21px 48px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
}

@media only all and (max-width: 768px) {
  .banner .swiper1 .swiper-button-prev1 {
    display: none;
  }
}

.banner .swiper1 .swiper-button-prev1.swiper-button-disabled {
  cursor: Auto;
  display: none;
}

.banner .swiper1:hover .swiper-button-next1 {
  opacity: 1;
}

.banner .swiper1:hover .swiper-button-prev1 {
  opacity: 1;
}

.banner .swiper1 .swiper-pagination {
  bottom: 30px;
}

@media only all and (max-width: 768px) {
  .banner .swiper1 .swiper-pagination {
    bottom: 10px;
  }
}

.banner .swiper1 .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 1;
}

.content
  .banner
  .swiper1
  .swiper-pagination
  .swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.banner .swiper1 .swiper-pagination .swiper-pagination-bullet:hover {
  color: #fff;
  border-color: #fff;
}

.content
  .banner
  .swiper1
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
}

.banner .swiper-ie {
  display: none;
  width: 100%;
  font-size: 0;
  position: relative;
}

@media only all and (max-width: 768px) {
  .banner .swiper-ie {
    height: auto;
  }
}

.banner .swiper-ie .swiper-wrapper .swiper-slide {
  width: 100%;
}

.banner .swiper-ie .swiper-wrapper .swiper-slide .pc {
  width: 100%;
}

@media only all and (max-width: 768px) {
  .banner .swiper-ie .swiper-wrapper .swiper-slide .pc {
    display: none;
  }
}

.banner .swiper-ie .swiper-wrapper .swiper-slide .pc img {
  width: 100%;
}

.banner .swiper-ie .swiper-wrapper .swiper-slide .phone {
  width: 100%;
  display: none;
}

@media only all and (max-width: 768px) {
  .banner .swiper-ie .swiper-wrapper .swiper-slide .phone {
    display: block;
  }
}

.banner .swiper-ie .swiper-wrapper .swiper-slide .phone img {
  width: 100%;
}

.banner .swiper-ie .swiper-wrapper .swiper-slide .info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 18.7%;
  text-align: left;
}

@media only all and (max-width: 768px) {
  .banner .swiper-ie .swiper-wrapper .swiper-slide .info {
    left: 5%;
  }
}

.banner .swiper-ie .swiper-wrapper .swiper-slide .info .one {
  font-size: 40px;
  line-height: 1.2;
  color: #fff;
}

@media only all and (max-width: 1440px) {
  .banner .swiper-ie .swiper-wrapper .swiper-slide .info .one {
    font-size: 30px;
  }
}

@media only all and (max-width: 1024px) {
  .banner .swiper-ie .swiper-wrapper .swiper-slide .info .one {
    font-size: 20px;
  }
}

.banner .swiper-ie .swiper-wrapper .swiper-slide .info .one sup {
  font-size: 22px;
}

@media only all and (max-width: 1440px) {
  .banner .swiper-ie .swiper-wrapper .swiper-slide .info .one sup {
    font-size: 16px;
  }
}

@media only all and (max-width: 1024px) {
  .banner .swiper-ie .swiper-wrapper .swiper-slide .info .one sup {
    font-size: 12px;
  }
}

.banner .swiper-ie .swiper-wrapper .swiper-slide .info .two {
  color: #fff;
  font-size: 60px;
  line-height: 1;
  margin-top: 2px;
  margin-bottom: 30px;
  font-weight: bold;
}

@media only all and (max-width: 1440px) {
  .banner .swiper-ie .swiper-wrapper .swiper-slide .info .two {
    font-size: 46px;
  }
}

@media only all and (max-width: 1024px) {
  .banner .swiper-ie .swiper-wrapper .swiper-slide .info .two {
    font-size: 30px;
  }
}

@media only all and (max-width: 414px) {
  .banner .swiper-ie .swiper-wrapper .swiper-slide .info .two {
    margin-bottom: 15px;
  }
}

.banner .swiper-ie .swiper-wrapper .swiper-slide .info .three {
  font-size: 24px;
  line-height: 1;
  color: #fff;
}

@media only all and (max-width: 1440px) {
  .banner .swiper-ie .swiper-wrapper .swiper-slide .info .three {
    font-size: 18px;
  }
}

@media only all and (max-width: 1024px) {
  .banner .swiper-ie .swiper-wrapper .swiper-slide .info .three {
    font-size: 14px;
  }
}

.banner .swiper-ie .swiper-wrapper .swiper-slide .info .more-btn {
  width: 148px;
  height: 38px;
  line-height: 38px;
  border: 1px solid #fff;
  display: inline-block;
  margin-top: 30px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  overflow: hidden;
}

@media only all and (max-width: 414px) {
  .banner .swiper-ie .swiper-wrapper .swiper-slide .info .more-btn {
    margin-top: 15px;
  }
}

.banner .swiper-ie .swiper-wrapper .swiper-slide .info .more-btn span {
  margin-left: 35px;
}

.content
  .banner
  .swiper-ie
  .swiper-wrapper
  .swiper-slide
  .info
  .more-btn
  .btn_bg {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 0;
  color: #fff;
  text-align: center;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: #0976c2;
  left: -100%;
  z-index: -1;
}

.content
  .banner
  .swiper-ie
  .swiper-wrapper
  .swiper-slide
  .info
  .more-btn:hover {
  border-color: #0976c2;
}

.content
  .banner
  .swiper-ie
  .swiper-wrapper
  .swiper-slide
  .info
  .more-btn:hover
  .btn_bg {
  left: 0;
}

.banner .swiper-ie .swiper-button-next2 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  right: 10px;
  width: 60px;
  height: 60px;
  background-image: url("http://www.inlaylink.com/cn/wp-content/themes/manro/img/index/right_slider.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 5;
  background-size: 21px 48px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
}

@media only all and (max-width: 768px) {
  .banner .swiper-ie .swiper-button-next2 {
    display: none;
  }
}

.banner .swiper-ie .swiper-button-next2.swiper-button-disabled {
  cursor: Auto;
  display: none;
}

.banner .swiper-ie .swiper-button-prev2 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 10px;
  width: 60px;
  height: 60px;
  background-image: url("http://www.inlaylink.com/cn/wp-content/themes/manro/img/index/left_slider.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 5;
  background-size: 21px 48px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
}

@media only all and (max-width: 768px) {
  .banner .swiper-ie .swiper-button-prev2 {
    display: none;
  }
}

.banner .swiper-ie .swiper-button-prev2.swiper-button-disabled {
  cursor: Auto;
  display: none;
}

.banner .swiper-ie:hover .swiper-button-next2 {
  opacity: 1;
}

.banner .swiper-ie:hover .swiper-button-prev2 {
  opacity: 1;
}

.banner .swiper-ie .swiper-pagination {
  bottom: 30px;
}

@media only all and (max-width: 768px) {
  .banner .swiper-ie .swiper-pagination {
    bottom: 10px;
  }
}

.banner .swiper-ie .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 1;
}

.content
  .banner
  .swiper-ie
  .swiper-pagination
  .swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.banner .swiper-ie .swiper-pagination .swiper-pagination-bullet:hover {
  color: #fff;
  border-color: #fff;
}

.content
  .banner
  .swiper-ie
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
}

.solution {
  padding-top: 82px;
  padding-bottom: 82px;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.solution .solution-con .item {
  width: 300px;
  height: 475px;
  float: left;
  vertical-align: top;
  position: relative;
  text-align: center;
}

.solution .solution-con .item .solutionbg {
  /* position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0; */
  width: 100%;
  height: 100%;
}

.solution .solution-con .item .slt_span1 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #3489c5;
  opacity: 0.8;
  display: none;
}

.solution .solution-con .item .img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -70px;
  margin-left: -45px;
  width: 96px;
}
.solution .solution-con .item .img .icont {
  font-size: 24px;
  color: #fff;
  margin-top: 20px;
}

.solution .solution-con .item .text {
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 50%;
  margin: 0px 25px;
  /* margin-top: -25px; */
  -webkit-transform: translateY(-18%);
  transform: translateY(-18%);
  text-align: left;
  opacity: 0;
  transition: all 0.5s;
  min-height: 245px;
}
.solution .solution-con .item .text p {
  color: #fff;
  line-height: 28px;
  text-align: justify;
  text-justify: inter-ideograph;
}
.solution .solution-con .item .text div {
  margin-top: 30px;
  text-align: center;
}

.solution .solution-con .item .text div p {
  margin-top: 10px;
  text-align: center;
}

.solution .solution-con .item:hover {
  background: #3489c5;
}

.solution .solution-con .item:hover .img {
  top: 23.5%;
  transition: all 0.5s;
}

.solution .solution-con .item:hover .slt_span1 {
  display: block;
}

.solution .solution-con .item:hover .text {
  opacity: 1;
}
.btnmore {
  margin-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}
.btnmore .btn {
  width: 150px;
  height: 40px;
  background: none;
  color: #333;
  transition: all 0.6s;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /* border-color: #008cd6; */
}
.btnmore .btn span {
  margin-left: 30px;
}
.btnmore .btn .btn_bg {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 0;
  color: #fff;
  text-align: center;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: #008cd6;
  left: -100%;
  z-index: -1;
}
.btnmore .btn:hover {
  color: #fff;
}
.btnmore .btn:hover .btn_bg {
  left: 0;
}
@media only all and (max-width: 1440px) {
  .solution {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media only all and (max-width: 1280px) {
  .solution {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 1000px;
  }
  .solution .solution-con .item .text {
    margin: 0px 12px;
    font-size: 15px;
  }
  .solution .solution-con .item .text a p {
    font-size: 15px;
    line-height: 26px;
  }
}
@media only all and (max-width: 1024px) {
  .solution .solution-con .item:hover .img {
    top: 50%;
  }
  .solution .solution-con .item:hover .slt_span1 {
    display: none;
  }
  .solution .solution-con .item:hover .text {
    opacity: 0;
  }
}
@media only all and (max-width: 768px) {
  .solution {
    padding-left: 10px;
    padding-right: 10px;
  }
  .solution .solution-con .item:hover .img {
    top: 50%;
  }
  .solution .solution-con .item:hover .slt_span1 {
    display: none;
  }
  .solution .solution-con .item:hover .text {
    opacity: 0;
  }
}

.solution .solution-con {
  /* width: 1200px;
	margin: 0 auto; */
  margin-top: 60px;
  /* text-align: center; */
  font-size: 0;
  overflow: hidden;
  /* position: relative; */
}
.solution .swiper-button-next {
  background-image: url("../img/index/right-con.png");
  right: -27px;
  margin-top: 20px;
}
.solution .swiper-button-prev {
  background-image: url("../img/index/left-con.png");
  left: -27px;
  margin-top: 20px;
}
.solution .tab-con {
  width: 100%;
  /* overflow: hidden; */
}

@media only all and (max-width: 1440px) {
  .solution .solution-con {
    margin-top: 40px;
  }
}

@media only all and (max-width: 414px) {
  .solution .solution-con {
    text-align: left;
  }
}
@media only all and (max-width: 1280px) {
  .solution .swiper-button-prev {
    margin-top: 30px;
  }
  .solution .swiper-button-next {
    margin-top: 30px;
  }
  .solution {
    width: 1000px;
  }
}
@media only all and (max-width: 1024px) {
  .solution .solution-con .item {
    margin-top: 20px;
  }
  .solution {
    width: 960px;
  }
}
@media only all and (max-width: 950px) {
  .solution .swiper-button-prev {
    margin-top: 30px;
  }
  .solution .swiper-button-next {
    margin-top: 30px;
  }
}
